<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

TEST 3

-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">



<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view4.html">
<link rel="lazy-import" href="my-view5.html">
<link rel="lazy-import" href="my-view6.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #6C0277;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list div.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <div name="view1">
            <a id="selView1" href="[[rootPath]]view1">Alignement</a>
          </div>
          <div id="selView2" name="view2" hidden="[[view1State]]">
            <a href="[[rootPath]]view2">Attributs</a>
          </div>
          <div id="selView3" name="view3" hidden="[[view2State]]">
            <a href="[[rootPath]]view3">Origine</a>
          </div>
          <div id="selView4" name="view4"  hidden="[[view3State]]">
            <a href="[[rootPath]]view4">Héritages</a>
          </div>
          <div id="selView5" name="view5" hidden="[[view4State]]">
            <a href="[[rootPath]]view5">Métiers</a>
          </div>
          <div id="selView6" name="view6" hidden="[[view5State]]">
            <a href="[[rootPath]]view6">Compétences Métiers</a>
          </div>
          <div id="selView7" name="view7" hidden="[[view6State]]">
            <a href="[[rootPath]]view7">Attributs Bonus</a>
          </div>
          <div id="selView8" name="view8" hidden="[[view7State]]">
            <a href="[[rootPath]]view8">Compétences Bonus</a>
          </div>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Mournblade </div>
            <paper-button on-tap="test">Test</paper-button>
          </app-toolbar>

        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
          <my-view1 name="view1" valider="{{view1State}}" page="{{page}}" alignement="{{alignement}}" ></my-view1>
          <my-view2 name="view2" valider="{{view2State}}" page="{{page}}" attributs="{{attributs}}" ></my-view2>
          <my-view3 name="view3" valider="{{view3State}}" page="{{page}}"></my-view3>
          <my-view4 name="view4" valider="{{view4State}}" page="{{page}}" heritage="{{heritage}}" heritageliste="{{heritageliste}}"></my-view4>
          <my-view5 name="view5" valider="{{view5State}}" metier={{metier}} metierliste={{metierliste}} competences="{{competences}}"></my-view5>
          <my-view6 name="view6" valider="{{view6State}}" competences="{{competences}}" savoirs="{{savoirs}}"></my-view6>
          <my-view7 name="view7" valider="{{view7State}}" attributs="{{attributs}}" bonneaventure="{{bonneaventure}}"></my-view7>
          <my-view8 name="view8" valider="{{view8State}}" competences="{{competences}}" savoirs="{{savoirs}}" predilections="{{predilections}}"></my-view8>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>



  </template>


  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {

          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
            value:"view1",
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,

          view1State: {
            type: Boolean,
            notify: true,
            // observer: 'view1StateChanged',
            value: true
          },

          view2State: {
            type: Boolean,
            notify: true,
            // observer: 'view2StateChanged',
            value: true,
          },

          view3State: {
            type: Boolean,
            notify: true,
            // observer: 'view3StateChanged',
            value: true
          },

          view4State: {
            type: Boolean,
            notify: true,
            // observer: 'view4StateChanged',
            value: true
          },

          view5State: {
            type: Boolean,
            notify: true,
            // observer: 'view5StateChanged',
            value: true
          },

          view6State: {
            type: Boolean,
            notify: true,
            // observer: 'view6StateChanged',
            value: true
          },

          view7State: {
            type: Boolean,
            notify: true,
            // observer: 'view7StateChanged',
            value: true
          },

          view8State: {
            type: Boolean,
            notify: true,
            // observer: 'view8StateChanged',
            value: true
          },

          alignement: {
            type: String,
            notify: true,
            observer: 'alignementChanged',

          },

          attributs: {
            type: Array,
            value() {
              return [
                { name: "Addresse", short: "ADD", val: "5", info: "" },
                { name: "Puissance", short: "PUI", val: "5", info: "" },
                { name: "Clairvoyance", short: "CLA", val: "5", info: "" },
                { name: "Présence", short: "PRE", val: "5", info: "" },
                { name: "Trempe", short: "TRE", val: "5", info: "" },
              ]
            },
            // observer: 'attributsChanged',
          },

          eclat: {
            type: String,
            notify: true,
            // observer: 'eclatChanged',
            value: "2"
          },

          bonneaventure: {
            type: String,
            notify: true,
            // observer: 'bonneAventureChanged',
            value:"4"
          },

          heritage: {
            type: String,
            notify: true,
            value: "Commun",
            observer: 'heritageChanged',
          },

          heritageliste: {
            type: Array,
            notify: true,
            value() {
              return [
                { name: "Commun", info: "", trait: "" },
                { name: "Paria", info: "", trait: "persécuté" },
                { name: "Isolationniste", info: "", trait: "J'ai mieux à la maison" },
                { name: "Colosse", info: "", trait: "votre taille est augmentée de 20 cm" },
                { name: "Sang-Mêler", info: "", trait: "" },
                { name: "Noble", info: "", trait: "" },
                { name: "Erudit", info: "", trait: "" },
                { name: "Crapule", info: "", trait: "" },
                { name: "Voyageur", info: "", trait: "" }
              ]
            },
          },

          metier: {
            type: String,
            notify: true,
            value: "Artisan",
            observer: 'metierChanged',
          },

          metierliste: {
            type: Array,
            notify: true,
            value() {
              return [
                { name: "Artisan", info: "", cap: "" },
                { name: "Artiste", info: "", cap: "" },
                { name: "Assassin", info: "", cap: "" },
                { name: "Capitaine", info: "", cap: "" },
                { name: "Chasseur de Primes", info: "", cap: "" },
                { name: "Courtisan", info: "", cap: "" },
                { name: "Dresseur", info: "", cap: "" },
                { name: "Ecclésiaste", info: "", cap: "" },
                { name: "Eclaireur", info: "", cap: "" },
                { name: "Erudit", info: "", cap: "" },
                { name: "Esclave en Fuite", info: "", cap: "" },
                { name: "Marchand", info: "", cap: "" },
                { name: "Marin", info: "", cap: "" },
                { name: "Racaille", info: "", cap: "" },
                { name: "Spadassin", info: "", cap: "" },
                { name: "Sorcier", info: "", cap: "" },
                { name: "Soldat de Fortune", info: "", cap: "" },
              ]
            },
          },


          competences: {
            type: Array,
            notify: true,
            value() {
              return [
                { name: "Armes à distance", attr: ["DEX"], val: "0", info: "", allow: false },
                { name: "Coercition", attr: ["PRE"], val: "0", info: "", allow: false },
                { name: "Commerce", attr: ["PRE"], val: "0", info: "", allow: false },
                { name: "Discrétion", attr: ["DEX"], val: "0", info: "", allow: false },
                { name: "Filouterie", attr: ["DEX"], val: "0", info: "", allow: false },
                { name: "Mêlée", attr: ["PUI"], val: "0", info: "", allow: false },
                { name: "Monte", attr: ["DEX"], val: "0", info: "", allow: false },
                { name: "Mouvements", attr: ["DEX"], val: "0", info: "", allow: false },
                { name: "Nage", attr: ["DEX"], val: "0", info: "", allow: false },
                { name: "Navigation", attr: ["CLA"], val: "0", info: "", allow: false },
                { name: "Persuasion", attr: ["PRE"], val: "0", info: "", allow: false },
                { name: "Soins", attr: ["CLA"], val: "0", info: "", allow: false },
                { name: "Survie", attr: ["CLA", "DEX"], val: "0", info: "", allow: false },
              ]
            },
            // observer: 'competencesChanged'
          },

          savoirs: {
            type: Array,
            notify: true,
            value() {
              return [
                { name: "Savoir Runes", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Haut-Parler", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Jeunes-Royaumes", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Lois & Chaos", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Seigneur Elementaire", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Seigneur des Bêtes", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Alchimie", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Mathématiques", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                { name: "Savoir Courtisan", attr: ["CLA"], val: "0", info: "", allow: false, base: true },
                // { name: "Savoir ", attr: ["CLA"], val: "0", info: "", allow: false, new:true },
              ]
            },
            // observer: 'savoirsChanged'
          },

          predilections: {
            type: Array,
            notify: true,
            value() {
              return []
            },
            // observer: 'savoirsChanged'
          },


        };
      }

      ready() {
        super.ready();
        this.view1State=false;
        this.view2State=false;
        this.view3State=false;
        this.view4State=false;
        this.view5State=false;
        this.view6State=false;
        this.view7State=false;
        this.view8State=false;
        
      }

      test() {
        console.log(this.view1State)
      }
      static get observers() {
        return [
          '_setAutostartToggledCheckedState(autostart)',
          '_autoStartSearch(autostart, configuration, userInfo)'
        ];
      }

      view1StateChanged() {
        // console.log("view1State=" + this.view1State)
      }

      view2StateChanged() {
        // console.log("view2State=" + this.view2State)
        // if (this.view2State) {
        //   this.$.selView3.className = "";
        // }
        // else {
        //   this.$.selView3.className = "not-active";
        // }
      }

      view3StateChanged() {
        // console.log("view3State=" + this.view3State)
      }

      alignementChanged() {
        // console.log("alignement=" + this.alignement)

      }

      attributsChanged() {
        // console.log(this.competences[name = "Persuasion"].val)
        // this.attributs.forEach(element => {
        //   console.log(element.name + "=" + element.val)
        // });
      }

      heritageChanged() {
        // console.log(this.heritage)
      }

      // competencesChanged(){
      //   this.competences.forEach(element => {
      //    console.log(element.name +"="+ element.val)
      //   });
      //   console.log
      // }

      metierChanged() {
        // console.log(this.metier)
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        // console.log(page);
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>