<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">



<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view4.html">
<link rel="lazy-import" href="my-view5.html">
<link rel="lazy-import" href="my-view6.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-connexion">
  <template>
    <style>
      :host {
        --app-primary-color: #6C0277;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Coucou</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a id="selView1" name="view1" href="[[rootPath]]view1">Alignement
            <paper-icon-button id="errorView1" src="../images/warning.ico" hidden="[[view1State]]"></paper-icon-button>
          </a>
          <a id="selView2" name="view2" href="[[rootPath]]view2">Attributs
            <paper-icon-button id="errorView2" src="../images/warning.ico" hidden="[[view2State]]"></paper-icon-button>
          </a>
          <a id="selView3" name="view3" href="[[rootPath]]view3">Origine
            <paper-icon-button id="errorView3" src="../images/warning.ico" hidden="[[view3State]]"></paper-icon-button>
          </a>
          <a id="selView4" name="view4" href="[[rootPath]]view4">Héritages
            <paper-icon-button id="errorView4" src="../images/warning.ico" hidden="[[view4State]]"></paper-icon-button>
          </a>
          <a id="selView5" name="view5" href="[[rootPath]]view5">Métiers
            <paper-icon-button id="errorView4" src="../images/warning.ico" hidden="[[view5State]]"></paper-icon-button>
          </a>
          <a id="selView6" name="view6" href="[[rootPath]]view6">Compétences Métiers
            <paper-icon-button id="errorView4" src="../images/warning.ico" hidden="[[view5State]]"></paper-icon-button>
          </a>
        </iron-selector>
        <paper-tooltip for="errorView1" position="right" animation-delay="0">Wesh Batard c'est pas compliqué</paper-tooltip>
        <paper-tooltip for="errorView2" position="right" animation-delay="0">Wesh Batard c'est pas compliqué</paper-tooltip>
        <paper-tooltip for="errorView3" position="right" animation-delay="0">Wesh Batard c'est pas compliqué</paper-tooltip>
        <paper-tooltip for="errorView4" position="right" animation-delay="0">Wesh Batard c'est pas compliqué</paper-tooltip>
        <paper-tooltip for="errorView5" position="right" animation-delay="0">Wesh Batard c'est pas compliqué</paper-tooltip>
        <paper-tooltip for="errorView6" position="right" animation-delay="0">Wesh Batard c'est pas compliqué</paper-tooltip>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Mournblade </div>
            <paper-button on-tap="attributsChanged">Test</paper-button>
          </app-toolbar>

        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
          <my-view1 name="view1" alignement="{{alignement}}"></my-view1>
          <my-view2 name="view2" attributs="{{attributs}}" valider="{{view2State}}"></my-view2>
          <my-view3 name="view3"></my-view3>
          <my-view4 name="view4" heritage="{{heritage}}" heritageliste="{{heritageliste}}"></my-view4>
          <my-view5 name="view5" metier={{metier}} metierliste={{metierliste}} competences="{{competences}}"></my-view5>
          <my-view6 name="view6" competences="{{competences}}" savoirs="{{savoirs}}"></my-view6>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>



  </template>


  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyConnexion extends Polymer.Element {
      static get is() { return 'my-connexion'; }

      static get properties() {
        return {

          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,

          view1State: {
            type: Boolean,
            notify: true,
            // observer: 'view1StateChanged',
            value: true
          },


          view2State: {
            type: Boolean,
            notify: true,
            // observer: 'view2StateChanged',
            value: true
          },

          view3State: {
            type: Boolean,
            notify: true,
            // observer: 'view3StateChanged',
            value: true
          },

          view4State: {
            type: Boolean,
            notify: true,
            // observer: 'view4StateChanged',
            value: true
          },

          view5State: {
            type: Boolean,
            notify: true,
            // observer: 'view5StateChanged',
            value: true
          },

          view6State: {
            type: Boolean,
            notify: true,
            // observer: 'view5StateChanged',
            value: true
          },

          alignement: {
            type: Array,
            notify: true,
            observer: 'alignementChanged',
            value() {
              return [
                { balance: "loi" },
                { loi: Number },
                { chaos: Number },
                { apsect: Number },
                { marge: Number },
              ]
            },
          },

          attributs: {
            type: Array,
            value() {
              return [
                { name: "Addresse", val: "5", info: "" },
                { name: "Puissance", val: "5", info: "" },
                { name: "Clairvoyance", val: "5", info: "" },
                { name: "Présence", val: "5", info: "" },
                { name: "Trempe", val: "5", info: "" },
              ]
            },
            // observer: 'attributsChanged',
          },

          eclat: {
            type: String,
            notify: true,
            // observer: 'eclatChanged',
            value: "2"
          },

          bonneAventure: {
            type: String,
            notify: true,
            // observer: 'bonneAventureChanged',
            value: "4"
          },

          heritage: {
            type: String,
            notify: true,
            value: "Commun",
            observer: 'heritageChanged',
          },

          heritageliste: {
            type: Array,
            notify: true,
            value() {
              return [
              { name: "Commun", info: "", trait: "" },
              { name: "Paria", info: "", trait: "persécuté" },
              { name: "Isolationniste", info: "", trait: "J'ai mieux à la maison" },
              { name: "Colosse", info: "", trait: "votre taille est augmentée de 20 cm" },
              { name: "Sang-Mêler", info: "", trait: "" },
              { name: "Noble", info: "", trait: "" },
              { name: "Erudit", info: "", trait: "" },
              { name: "Crapule", info: "", trait: "" },
              { name: "Voyageur", info: "", trait: "" }
              ]},
          },

          metier: {
            type: String,
            notify: true,
            value: "Artisan",
            observer: 'metierChanged',
          },

          metierliste: {
            type: Array,
            notify: true,
            value() {
              return [
              { name: "Artisan", info: "", cap: "" },
              { name: "Artiste", info: "", cap: "" },
              { name: "Assassin", info: "", cap: "" },
              { name: "Capitaine", info: "", cap: "" },
              { name: "Chasseur de Primes", info: "", cap: "" },
              { name: "Courtisan", info: "", cap: "" },
              { name: "Dresseur", info: "", cap: "" },
              { name: "Ecclésiaste", info: "", cap: "" },
              { name: "Eclaireur", info: "", cap: "" },
              { name: "Erudit", info: "", cap: "" },
              { name: "Esclave en Fuite", info: "", cap: "" },
              { name: "Marchand", info: "", cap: "" },
              { name: "Marin", info: "", cap: "" },
              { name: "Racaille", info: "", cap: "" },
              { name: "Spadassin", info: "", cap: "" },
              { name: "Sorcier", info: "", cap: "" },
              { name: "Soldat de Fortune", info: "", cap: "" },
              ]},
          },

          competences: {
            type: Array,
            notify: true,
            value() {
              return [
              { name: "Armes à distance", attr:["DEX"], val: "0", info: "", allow: false },
              { name: "Coercition",attr:["PRE"], val: "0", info: "", allow: false },
              { name: "Commerce",attr:["PRE"], val: "0", info: "", allow: false },
              { name: "Discrétion",attr:["DEX"], val: "0", info: "", allow: false },
              { name: "Filouterie",attr:["DEX"], val: "0", info: "", allow: false },
              { name: "Mêlée",attr:["PUI"], val: "0", info: "", allow: false },
              { name: "Monte",attr:["DEX"], val: "0", info: "", allow: false },
              { name: "Mouvements",attr:["DEX"], val: "0", info: "", allow: false },
              { name: "Nage",attr:["DEX"], val: "0", info: "", allow: false },
              { name: "Navigation",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Persuasion",attr:["PRE"], val: "0", info: "", allow: false },
              { name: "Soins",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Survie",attr:["CLA","DEX"], val: "0", info: "", allow: false },
            ]},
            // observer: 'competencesChanged'
          },

          savoirs: {
            type: Array,
            notify: true,
            value() {
              return [
              { name: "Savoir Runes",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Haut-Parler",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Jeunes-Royaumes",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Lois & Chaos",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Seigneur Elementaire",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Seigneur des Bêtes",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Alchimie",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Mathématiques",attr:["CLA"], val: "0", info: "", allow: false },
              { name: "Savoir Coutisan",attr:["CLA"], val: "0", info: "", allow: false },
              ]},
            // observer: 'savoirsChanged'
          },


        };
      }

      ready() {
        super.ready();
      }

      static get observers() {
        return [
          'alignementChanged(alignement, alignement.*, alignement.splices)',
          '_setAutostartToggledCheckedState(autostart)',
          '_autoStartSearch(autostart, configuration, userInfo)'
        ];
      }

      view1StateChanged() {
        console.log("view1State=" + this.view1State)
      }

      view2StateChanged() {
        // console.log("view2State=" + this.view2State)
      }

      view3StateChanged() {
        // console.log("view3State=" + this.view3State)
      }

      // alignementChanged() {
      // console.log("alignement=" + this.alignement)
      //   if(this.alignement.balance=="loi")
      //   {
      //     this.alignement.loi=2;
      //     this.alignement.chaos=1;
      //   }
      //   else{
      //     this.alignement.loi=2;
      //     this.alignement.chaos=1;
      //   }
      //   this.alignement.aspect = (this.loi < this.chaos) ? this.chaos:this.loi ;
      //   this.alignement.marge = (this.loi < this.chaos) ? this.chaos-this:this.loi ;
      // }

      attributsChanged() {
        // console.log(this.competences[name = "Persuasion"].val)
        this.attributs.forEach(element => {
          console.log(element.name + "=" + element.val)
        });
      }

      heritageChanged() {
        console.log(this.heritage)
      }

      // competencesChanged(){
      //   this.competences.forEach(element => {
      //    console.log(element.name +"="+ element.val)
      //   });
      //   console.log
      // }

      metierChanged() {
        console.log(this.metier)
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyConnexion.is, MyConnexion);
  </script>
</dom-module>