<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-button-group/paper-button-group.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/polymer-popover/polymer-popover.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
            display: block;
            padding: 10px;
            --app-primary-color: #6C0277;
            --app-secondary-color: black;
          }

      /* :host {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        overflow-y: auto;
        padding: 5px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      } */

     

      paper-card.ville {
        height: 210px;
        width: 100%;
      }

       paper-button.ville {
        margin:3px;
        width: 18%;
      }

      paper-button.ville[active] {
       background-color:var(--app-primary-color);
       color:white; 
      }

      
    </style>


    <div class="card">

    </div>

    <paper-toast id="toastVal" text="This aint right nigga" class="attr"></paper-toast>


  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {

          valider: {
            type: Boolean,
            notify: true,
          },

          ville: {
            type: String,
            notify: true,
            value: "Argimilliar"
            // observer: 'villeChanged',
          },
          
          villeList:{
            type:Array,
            notify:true,
            value:["L'Ilmiora","Nadsokor","Sered Ôma","Désert des Larmes","Quarzhasaat",
          "Le Vilmir","Org","L’Argimiliar","Le Dorel","Oin et Yu","Le Filkhar","Le Lormyr","Le Pikarayd","Le Dharijor","Le Jharkor","Le Shazaar","Les Terres Silencieuses", "Le Tarkesh"]
          },


          info: {
            type: String,
            notify: true,
            value: "Attributs",
          }
        };

      }

      static get observers() {
        return [
          // '_attributsChanged(addresse, puissance, clairvoyance, presence, trempe)',
        ];
      }

      connectedCallback() {
        super.connectedCallback();
        this.valider=false;
      }


      validation() {
        

      }

      selectInfo(e) {
        // console.log(e)        
        // console.log(e.target)        
        // console.log(e.target.id)
        this.info = e.target.id;
      }

      navPrev() {
        this.$.infoAttr.selectPrevious();
      }

      navNext() {
        this.$.infoAttr.selectNext();
      }

    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>