<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html"> 
<link rel="import" href="../bower_components/paper-button-group/paper-button-group.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      }

      /* :host {
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
        display: flex;
        flex-direction: column;
        ;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        overflow-y: auto;
        padding: 5px;
      } */

      paper-card.alignement {
        border: solid 5px;
        border-color: transparent;
      }

      paper-card.iron-selected {
        border-color: var(--app-primary-color);
      }
    </style>

    <div class="card ">
      <div class="horizontal center">
        <iron-selector selected="{{alignement}}" attr-for-selected="name">

          <paper-card name="loi" class="alignement half">
            <div class="card-header">Loi</div>
            <div class="card-content">
              Loyal
            </div>
          </paper-card>

          <paper-card name="chaos" class="alignement half">
            <div class="card-header">Chaos</div>
            <div class="card-content">
              Chaotique
            </div>
          </paper-card>

        </iron-selector>
      </div>
    </div>
  </template>

  <script>
    class Myview1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {

        return {
          alignement: {
            type: String,
            notify: true,
            observer: "alignementChanged"

          },

          valider: {
            type: Boolean,
            notify:true
          }

        }

      };

      alignementChanged(){
        this.valider=false;
      }
    }

    window.customElements.define(Myview1.is, Myview1);
  </script>
</dom-module>