<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-number-input/paper-number-input.html">
<link rel="import" href="../bower_components/polymer-popover/polymer-popover.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view8">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      }

      paper-card.block {
        margin: 10px;
        flex-wrap: wrap;
        vertical-align: top;
        width: 100%;
      }

      paper-card.competences {
        margin: 10px;
        flex-wrap: wrap;
        vertical-align: top;
        /* min-width: 40%; */
      }

      paper-number-input.competences {
        height: 50px;
        width: 200px;
        margin-left: 15px;
        --paper-input-container-focus-color: #6C0277;
        --paper-input-container-invalid-color: red;
        --paper-input-container-input-color: black;
      }

      paper-input.predilection {
        width: 200px;
        margin-top: auto;
        margin-left: 10px;

      }
    </style>

    <div id="view8" class="card">

      <div class="center">

        <paper-card class="half">
          <div id="Compétences" class="card-header-lg" on-tap="selectInfo">
            <label id="Compétences" on-tap="selectInfo">Compétences</label>
            <div class="point">[[point]]</div>
          </div>
          <div class="card-content-lg flex-container">
            <paper-card class="competences" elevation="0">
              <template is="dom-repeat" items="{{competences}}" as="item">
                <paper-number-input id="[[item.name]]" label="[[item.name]]" class="competences" min="[[getElementFromInitCpt(index)]]" max="7"
                  value="{{item.val}}" step="1" fallback-value="[[item.val]]" on-tap="addpointComp"></paper-number-input>
                <br>
              </template>
            </paper-card>
            <paper-card class="competences" elevation="0" style="margin-left:50px">
              <template is="dom-repeat" items="{{savoirs}}" as="item" filter="isnew" observe="new">
                <div class="flex-container">
                  <paper-number-input id="[[item.name]]" label="[[item.name]]" class="competences" min="[[getElementFromInitSav(index)]]" max="7"
                    value="{{item.val}}" step="1" fallback-value="[[item.val]]" on-tap="selectInfo">
                  </paper-number-input>
                  <paper-icon-button hidden="[[item.base]]" icon="remove-circle" on-tap="removeSavoirs" id="{{item}}" style="margin-top:32px"></paper-icon-button>
                </div>
                <br>
              </template>
              <div class="flex-container-column">
                <paper-icon-button on-tap="addSavoir" icon="add-circle" class="lg add"></paper-icon-button>
                <template is="dom-repeat" items="{{savoirs}}" filter="newSavoirs" observe="new">
                  <paper-input value="{{item.name}}" class="custom-input centered" label="Nouveau Savoir" style="width:210px;margin-left:10px">
                    <paper-icon-button icon="check" slot="suffix" on-tap="newChecked" id="{{item.new}}"></paper-icon-button>
                  </paper-input>
                </template>
              </div>
            </paper-card>
          </div>
          <div class="card-actions horizontal justified">
            <paper-button on-tap="validation" raised class="val">Valider</paper-button>
          </div>
        </paper-card>

        <paper-card class="half" elevation="0">

          <paper-card style="width:100%">
            <div id="Prédilections" class="card-header-lg" on-tap="selectInfo">
              <label id="Prédilections" on-tap="selectInfo">Prédilections</label>
            </div>
            <div class="card-content-lg horizontal">
              <template is="dom-repeat" items="{{predilections}}" as="item" filter="isnew" observe="new">
                <div class="flex-container">
                  <paper-input id="[[item.name]]" value="[[item.name]]" class="custom-input predilection"></paper-input>
                  <paper-input id="[[item.attr]]" value="[[item.name]]" class="custom-input predilection">
                    <paper-icon-button hidden="[[item.base]]" slot="suffix" icon="remove-circle" on-tap="removePre" id="{{item}}"></paper-icon-button>
                  </paper-input>
                </div>
                <br>
              </template>
              <div class="flex-container-column">
                <paper-icon-button on-tap="addPre" icon="add-circle" class="lg add"></paper-icon-button>
                <div class="flex-container">
                  <template is="dom-repeat" items="{{predilections}}" filter="newSavoirs" observe="new">
                    <paper-input value="{{item.name}}" class="custom-input predilection " label="Prédilections"></paper-input>
                    <paper-input value="{{item.attr}}" class="custom-input predilection " label="Attribut">
                      <paper-icon-button icon="check" slot="suffix" on-tap="preChecked"></paper-icon-button>
                    </paper-input>
                  </template>
                </div>
              </div>
            </div>
          </paper-card>

          <paper-card style="width:100%; margin-top:50px;">
            <div class="card-header-lg">[[info]]
            </div>
            <div class="card-content-lg horizontal">
              <iron-pages id="infoAttr" selected="{{info}}" attr-for-selected="name" fallbackSelection="Compétences">
                <paper-card name="Compétences" elevation="0" class="info">Compétences</paper-card>
                <paper-card name="Prédilections" elevation="0" class="info">Prédilections</paper-card>
                <template is="dom-repeat" items="{{competences}}">
                  <paper-card name="{{item.name}}" elevation="0" class="info">[[item.info]]</paper-card>
                </template>
                <template is="dom-repeat" items="{{savoirs}}">
                  <paper-card name="{{item.name}}" elevation="0" class="info">[[item.info]]</paper-card>
                </template>
              </iron-pages>
            </div>
            <div class="card-actions-m horizontal justified center">
              <paper-icon-button on-tap="navPrev" icon="chevron-left" class="lg" style="margin-right:75%"></paper-icon-button>
              <paper-icon-button on-tap="navNext" icon="chevron-right" class="lg"></paper-icon-button>
            </div>
          </paper-card>

        </paper-card>
      </div>

    </div>

    <paper-toast id="toastVal" text="This aint right nigga" class="attr"></paper-toast>

  </template>

  <script>
    class Myview8 extends Polymer.Element {
      static get is() { return 'my-view8'; }
      static get properties() {
        return {

          point: {
            type: Number,
            value: 10
          },

          valider: {
            type: Boolean,
            notify: true,
          },

          competences: {
            type: Array,
            notify: true,
            value: [],
            observer: '_competencesChanged'
          },

          savoirs: {
            type: Array,
            notify: true,
            value: [],
            observer: '_savoirsChanged'

          },

          predilections: {
            type: Array,
            notify: true,
            value: [],
            observer: '_predilectionChanged'

          },

          initcompetences: {
            type: Array,
            notify: true,
            value: [],
          },

          initsavoirs: {
            type: Array,
            notify: true,
            value: [],
          },

          initflag: {
            type: Boolean,
            notify: true,
            value: true,
          },


          info: {
            type: String,
            notify: true,
            value: "Compétences",
          }
        };

      }

      static get observers() {
        return [
          '_competencesChanged(competences, competences.*, competences.splices)',
          '_savoirsChanged(savoirs, savoirs.*, savoirs.splices)'
        ];
      }

      ready() {
        super.ready();
      }

      initInit() {
        var cpt = 0;
        this.competences.forEach(element => {
          this.initcompetences[cpt] = element.val
          cpt++;
        });
        cpt = 0;
        this.savoirs.forEach(element => {
          this.initsavoirs[cpt] = element.val
          cpt++;

        });
        console.log(this.initcompetences)
        console.log(this.initsavoirs)
      }

      setPoint() {
        var totinit = 0, totcpt = 0, totpredi = 0;

        if (this.initflag) { this.initInit(); this.initflag = false }

        this.initcompetences.forEach(element => {
          totinit = totinit + Number(element);
        });
        this.initsavoirs.forEach(element => {
          totinit = totinit + Number(element);
        });

        this.competences.forEach(element => {
          totcpt = totcpt + Number(element.val);
        });
        this.savoirs.forEach(element => {
          totcpt = totcpt + Number(element.val);
        });
        console.log("totinit :" + totinit)
        console.log("totcpt :" + totcpt)
        this.point = 10;
        this.point = this.point + totinit - totcpt - totpredi;

      }



      getElementFromInitCpt(index) {
        // console.log("initcpt :" +"["+index+"]")
        // console.log(this.initcompetences[index])
        return this.initcompetences[index];
      }

      getElementFromInitSav(index) {
        // console.log("init" +"["+index+"]")
        // console.log(this.init[index])
        return this.initsavoirs[index];
      }

      validation() {
        if (this.point != 0) {
          this.$.toastVal.open();
          this.valider = true;
        }
        else {
          this.valider = false;
        }
      }


      isnew(item) {
        // console.log(!item.new)
        return !item.new
      }

      newChecked(item) {
        this.savoirs.forEach(element => {
          if (element.new == true) {
            // console.log(element)
            element.new = false;
            element.allow = true;
            this.notifySplices('savoirs');
          }
        });
      }

      newSavoirs(item) {
        // console.log(item.allow)
        return item.new == true
      }

      addSavoir() {
        var cpt = 0;
        this.savoirs.forEach(element => {
          if (element.new == true) {
            cpt++;
          }
        });
        if (cpt == 0) {
          this.push('savoirs', { name: "Savoir ", attr: ["CLA"], val: "0", info: "", allow: false, new: true, base: false })
          this.push('initsavoirs', "0")
          // cpt=0;
        }
      }

      removeSavoirs(event) {
        var index = this.savoirs.indexOf(event.model.item)
        this.splice("savoirs", index, 1);
        // console.log(index)
      }


      preChecked(item) {
        this.predilections.forEach(element => {
          if (element.new == true) {
            // console.log(element)
            element.new = false;
            element.allow = true;
            this.notifySplices('predilections');
          }
        });
      }

      addPre() {
        var cpt = 0;
        this.predilections.forEach(element => {
          if (element.new == true) {
            cpt++;
          }
        });
        if (cpt == 0) {
          this.push('predilections', { name: "", attr: "", attr2: "", info: "", allow: false, new: true })
          // cpt=0;
        }
      }

      removePre(event) {
        var index = this.predilections.indexOf(event.model.item)
        this.splice("predilections", index, 1);
        // console.log(index)
      }

      addpointComp(e){
        this.selectInfo(e);
        console.log(e)
        
      }

      selectInfo(e) {
        // console.log(e)
        this.info = e.target.id;
      }

      navPrev() {
        this.$.infoAttr.selectPrevious();
      }

      navNext() {
        this.$.infoAttr.selectNext();
      }

      _competencesChanged() {
        this.setPoint()
      }

      _savoirsChanged() {
        this.setPoint()
      }

    }

    window.customElements.define(Myview8.is, Myview8);
  </script>
</dom-module>