<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/polymer-popover/polymer-popover.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view6">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      }

      paper-card.block {
        margin: 10px;
        flex-wrap: wrap;
        vertical-align: top;
        width: 100%;
      }

      paper-card.competences {
        margin: 10px;
        flex-wrap: wrap;
        vertical-align: top;
        /* min-width: 40%; */
      }

      label,
      input {
        width: 150px;
        display: inline-block;

      }
    </style>

    <div id="view6" class="card">

      <div class="horizontal center">

        <paper-card class="block">
          <div class="card-header-lg">[[info]]</div>

          <div class="card-content-lg horizontal">
            <iron-pages id="infoAttr" selected="{{info}}" attr-for-selected="name" fallbackSelection="Compétences">
              <paper-card name="Compétences" elevation="0" class="info">Compétences</paper-card>
              <template is="dom-repeat" items="{{competences}}">
                <paper-card name="{{item.name}}" elevation="0" class="info">[[item.info]]</paper-card>
              </template>
              <template is="dom-repeat" items="{{savoirs}}">
                <paper-card name="{{item.name}}" elevation="0" class="info">[[item.info]]</paper-card>
              </template>
            </iron-pages>
          </div>
          <div class="card-actions-m horizontal justified center">
            <paper-icon-button on-tap="navPrev" icon="chevron-left" class="lg" style="margin-right:75%"></paper-icon-button>
            <paper-icon-button on-tap="navNext" icon="chevron-right" class="lg"></paper-icon-button>
          </div>
        </paper-card>

        <paper-card class="block">
          <div id="Compétences" class="card-header-lg" on-tap="selectInfo">
            <label id="Compétences" on-tap="selectInfo">Compétences</label>
          </div>

          <div class="card-content horizontal">
            <paper-card class="competences" elevation="0">
              <template is="dom-repeat" items="{{competences}}" as="item" filter="allowed" observe="allow">
                <label id="[[item.name]]" on-tap="selectInfo">[[item.name]] :</label>
                <label id="[[item.name]]" style="width:130px">
                  <template is="dom-repeat" items="{{item.attr}}">&nbsp [[item]] &nbsp &nbsp &nbsp </template>
                </label>
                <paper-radio-group id="competencesButt" aria-labelledby="[[item.name]]" on-tap="competencesChanged" selected="{{item.val}}"
                  class="attr" auto>
                  <paper-radio-button name="3">3</paper-radio-button>
                  <paper-radio-button name="2">2</paper-radio-button>
                  <paper-radio-button name="1">1</paper-radio-button>
                  <paper-radio-button name="0">0</paper-radio-button>
                </paper-radio-group>
                <br>
              </template>
            </paper-card>

            <paper-card class="competences" elevation="0">
              <template is="dom-repeat" items="{{savoirs}}" filter="allowed" observe="allow">
                <label id="[[item.name]]" on-tap="selectInfo" style="width:210px">[[item.name]] :</label>
                <label id="[[item.name]]">
                  <template is="dom-repeat" items="{{item.attr}}">&nbsp [[item]] &nbsp &nbsp </template>
                </label>
                <paper-radio-group id="competencesButt" aria-labelledby="[[item.name]]" on-tap="competencesChanged" selected="{{item.val}}"
                  class="attr" auto>
                  <paper-radio-button name="3">3</paper-radio-button>
                  <paper-radio-button name="2">2</paper-radio-button>
                  <paper-radio-button name="1">1</paper-radio-button>
                  <paper-radio-button name="0">0</paper-radio-button>
                </paper-radio-group>
                <paper-icon-button hidden="[[item.base]]" icon="remove-circle" on-tap="removeSavoirs" id="{{item}}"></paper-icon-button>
                <br>
              </template>

              <div class="flex-container">
                <paper-icon-button on-tap="addSavoir" icon="add-circle" class="lg add"></paper-icon-button>
                <template is="dom-repeat" items="{{savoirs}}" filter="newSavoirs" observe="new">
                  <paper-input value="{{item.name}}" class="custom-input centered" label="Nouveau Savoir" style="width:210px;margin-left:10px">
                    <paper-icon-button icon="check" slot="suffix" on-tap="newChecked" id="{{item.new}}"></paper-icon-button>
                  </paper-input>
                </template>
              </div>

            </paper-card>

          </div>

          <div class="card-actions horizontal justified">
            <paper-button on-tap="validation" raised class="val">Valider</paper-button>
          </div>
        </paper-card>

      </div>

    </div>

    <paper-toast id="toastVal" text="This aint right nigga" class="attr"></paper-toast>

  </template>

  <script>
    class MyView6 extends Polymer.Element {
      static get is() { return 'my-view6'; }
      static get properties() {
        return {

          valider: {
            type: Boolean,
            notify: true,
          },

          competences: {
            type: Array,
            notify: true,
            value: [],
            observer: 'competencesChanged'
          },

          savoirs: {
            type: Array,
            notify: true,
            value: [],
          },

          info: {
            type: String,
            notify: true,
            value: "Compétences",
          }
        };

      }

      ready() {
        super.ready();
        this.competences.forEach(element => { element.allow = true })
        this.savoirs.forEach(element => { element.allow = true })
      }

      validation() {
        var cpt3 = 0, cpt2 = 0, cpt1 = 0;
        // console.log(array)
        this.competences.forEach(element => {
          switch (element.val) {
            case "3":
              cpt3++;
              break;
            case "2":
              cpt2++;
              break;
            case "1":
              cpt1++;
              break;
          }

        });
        this.savoirs.forEach(element => {
          switch (element.val) {
            case "3":
              cpt3++;
              break;
            case "2":
              cpt2++;
              break;
            case "1":
              cpt1++;
              break;
          }

        });

        console.log(cpt3)
        console.log(cpt2)
        console.log(cpt1)
        if ((cpt3 != 1) || (cpt2 != 2) || (cpt1 != 3)) {
          this.$.toastVal.open();
          this.valider = true;
        }
        else {
          this.valider = false;
        }

      }

      allowed(item) {
        // console.log(item.allow)
        return item.allow
      }

      newChecked(item) {
        this.savoirs.forEach(element => {
          if (element.new == true) {
            console.log(element)
            element.new = false;
            element.allow = true;
            this.notifySplices('savoirs');
          }
        });
      }

      newSavoirs(item) {
        // console.log(item.allow)
        return item.new == true
      }

      addSavoir() {
        var cpt = 0;
        this.savoirs.forEach(element => {
          if (element.new == true) {
            cpt++;
          }
        });
        if (cpt == 0) {
          this.push('savoirs', { name: "Savoir ", attr: ["CLA"], val: "0", info: "", allow: false, new: true, base: false })
          // cpt=0;
        }
      }

      removeSavoirs(event) {
        var index = this.savoirs.indexOf(event.model.item)
        this.splice("savoirs", index, 1);
        // console.log(index)
      }

      selectInfo(e) {
        // console.log(e.target)
        this.info = e.target.id;
      }

      navPrev() {
        this.$.infoAttr.selectPrevious();
      }

      navNext() {
        this.$.infoAttr.selectNext();
      }

      competencesChanged() {
        // console.log(this.competences)
        // console.log(this.competences.filter(function( obj ) {return obj.name == "Addresse"}))
      }

    }

    window.customElements.define(MyView6.is, MyView6);
  </script>
</dom-module>