<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-number-input/paper-number-input.html">
<link rel="import" href="../bower_components/polymer-popover/polymer-popover.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view7">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      }

      paper-card.attributs {
        margin-left: 10%;
        min-width: 40%;
        max-width: 600px;
        vertical-align: top;
        margin-bottom: 5%;
      }

      paper-number-input.attributs {
        height: 50px;
        width: 200px;
        margin-left: 15px;
        --paper-input-container-focus-color: #6C0277;
        --paper-input-container-invalid-color: red;
        --paper-input-container-input-color: black;
      }
    </style>

    <div id="view7" class="card">

      <div class="horizontal center">

        <paper-card class="half">
          <div id="Attributs" class="card-header-lg " on-tap="selectInfo">
            <label id="Attributs" on-tap="selectInfo">Attributs</label>
            <br>
            <l1>Répartissez parmi les cinq attributs les valeurs suivantes : 5, 4, 4, 4, 3.</l1>
            <div class="point">[[point]]</div>
          </div>

          <div class="card-content-lg ">

            <paper-card class="attributs" elevation="0">
              <template is="dom-repeat" items="{{attributs}}" as="item">
                <paper-number-input id="[[item.name]]" label="[[item.name]]" class="attributs" min="[[getElementFromInit(index)]]" max="8"
                  value="{{item.val}}" step="1" fallback-value="[[item.val]]" on-tap="selectInfo"></paper-number-input>
                <br>
              </template>
            </paper-card>
            <paper-card elevation="0">
              <paper-number-input id="Bonne Aventure" label="Bonne Aventure" class="attributs" min="4" value="{{bonneaventure}}" step="1"
                fallback-value="{{bonneaventure}}" on-tap="selectInfo"></paper-number-input>
            </paper-card>

          </div>

          <div class="card-actions-m horizontal justified">
            <paper-button on-tap="validation" raised class="val">Valider</paper-button>
            <iron-icon class="validation" icon="done-all" hidden=[[valider]]></iron-icon>
          </div>
        </paper-card>

        <paper-card class="half">
          <div class="card-header-lg">[[info]]</div>

          <div class="card-content-lg horizontal">

            <iron-pages id="infoAttr" selected="{{info}}" attr-for-selected="name" fallbackSelection="Attributs">
              <paper-card name="Attributs" elevation="0" class="info">Attributs</paper-card>
              <paper-card name="Bonne Aventure" elevation="0" class="info">Bonne Aventure</paper-card>
              <template is="dom-repeat" items="{{attributs}}">
                <paper-card name="{{item.name}}" elevation="0" class="info">[[item.info]]</paper-card>
              </template>
            </iron-pages>

          </div>

          <div class="card-actions-m horizontal justified center">
            <paper-icon-button on-tap="navPrev" icon="chevron-left" class="lg" style="margin-right:75%"></paper-icon-button>
            <paper-icon-button on-tap="navNext" icon="chevron-right" class="lg"></paper-icon-button>
          </div>
        </paper-card>

      </div>

    </div>

    <paper-toast id="toastVal" text="This aint right nigga" class="attr"></paper-toast>

  </template>

  <script>
    class MyView7 extends Polymer.Element {
      static get is() { return 'my-view7'; }
      static get properties() {
        return {

          point: {
            type: Number,
            value: 12
          },

          valider: {
            type: Boolean,
            notify: true,
          },

          attributs: {
            type: Array,
            notify: true,
            value: [],
            observer: "_attributsChanged"
          },

          init: {
            type: Array,
            notify: true,
            value: [],
          },

          initflag: {
            type: Boolean,
            notify: true,
            value: true,
          },

          bonneaventure: {
            type: String,
            notify: true,
            observer: "_bonneAventureChanged"
          },

          info: {
            type: String,
            notify: true,
            value: "Attributs",
          }
        };

      }

      static get observers() {
        return [
          '_attributsChanged(attributs, attributs.*, attributs.splices)',
          '_initChanged(init, init.*, init.splices)'
        ];
      }

      ready() {
        super.ready();
        // console.log("bonne Aventure:" + this.bonneaventure)

      }

      _bonneAventureChanged(){
        this.setPoint();
      }

      _attributsChanged(){
        this.setPoint();
      }

      initInit() {
        var cpt = 0;
        this.attributs.forEach(element => {
          this.init[cpt] = this.attributs[cpt].val
          cpt++;
          // console.log(this.init)
        });
      }

      setPoint() {
        var totinit = 0, totattr = 0;
        if (this.initflag) { this.initInit(); this.initflag = false }
        this.init.forEach(element => {
          totinit = totinit + Number(element);
        });

        this.attributs.forEach(element => {
          totattr = totattr + Number(element.val);
        });
        // console.log("init :" + totinit)
        // console.log("totattr :" + totattr)
        // console.log(this.point + totinit - totattr - this.bonneaventure)
        this.point=12;
        this.point=this.point + totinit - totattr - this.bonneaventure;

      }



      getElementFromInit(index) {
        // console.log("init" +"["+index+"]")
        // console.log(this.init[index])
        return this.init[index];
      }

      validation() {
  
        if (this.point!=0) {
          this.$.toastVal.open();
          this.valider = true;
        }
        else {
          this.valider = false;
        }

      }

      selectInfo(e) {
        this.info = e.target.id;
      }

      navPrev() {
        this.$.infoAttr.selectPrevious();
      }

      navNext() {
        this.$.infoAttr.selectNext();
      }

    }

    window.customElements.define(MyView7.is, MyView7);
  </script>
</dom-module>