<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/polymer-popover/polymer-popover.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      }

      paper-card.attributs {
        margin-left: 10%;
        min-width: 47%;
        max-width: 600px;
        vertical-align: top;
      }
    </style>

    <div id="view2" class="card">

      <div class="horizontal center">

        <paper-card class="half">
          <div id="Attributs" class="card-header-lg" on-tap="selectInfo">
            <label id="Attributs" on-tap="selectInfo">Attributs</label>
            <br>
            <l1>Répartissez parmi les cinq attributs les valeurs suivantes : 5, 4, 4, 4, 3.</l1>
          </div>

          <div class="card-content-lg horizontal">

            <paper-card class="attributs" elevation="0">
              <template is="dom-repeat" items="{{attributs}}" as="item">
                <label id="[[item.name]]" on-tap="selectInfo">[[item.name]] :</label>
                <paper-radio-group id="attributsButt" aria-labelledby="[[item.name]]" on-tap="attributsChanged" selected="{{item.val}}" class="attr"
                  auto>
                  <paper-radio-button name="5">5</paper-radio-button>
                  <paper-radio-button name="4">4</paper-radio-button>
                  <paper-radio-button name="3">3</paper-radio-button>
                </paper-radio-group>
                <br>
              </template>
            </paper-card>

          </div>

          <div class="card-actions-m horizontal justified">
            <paper-button on-tap="validation" raised class="val">Valider</paper-button>
          </div>
        </paper-card>

        <paper-card class="half">
          <div class="card-header-lg">[[info]]</div>

          <div class="card-content-lg horizontal">

            <iron-pages id="infoAttr" selected="{{info}}" attr-for-selected="name" fallbackSelection="Attributs">
              <paper-card name="Attributs" elevation="0" class="info">Attributs</paper-card>
              <template is="dom-repeat" items="{{attributs}}">
                <paper-card name="{{item.name}}" elevation="0" class="info">[[item.info]]</paper-card>
              </template>
            </iron-pages>

          </div>

          <div class="card-actions-m horizontal justified center">
            <paper-icon-button on-tap="navPrev" icon="chevron-left" class="lg" style="margin-right:75%"></paper-icon-button>
            <paper-icon-button on-tap="navNext" icon="chevron-right" class="lg"></paper-icon-button>
          </div>
        </paper-card>

      </div>

    </div>

    <paper-toast id="toastVal" text="This aint right nigga" class="attr"></paper-toast>

  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          page: {
            type: String,
            notify: true,
            observer: "pageChanged"
          },

          valider: {
            type: Boolean,
            notify: true,
          },

          attributs: {
            type: Array,
            notify: true,
            value: [],
            observer: 'attributsChanged'
          },

          info: {
            type: String,
            notify: true,
            value: "Attributs",
          }
        };

      }
      ready(){
        super.ready();
        this.page="view2"
      }

      validation() {
        var cpt3 = 0, cpt4 = 0, cpt5 = 0;
        var newUrl = "my-view1.html"
        // console.log(array)
        this.attributs.forEach(element => {
          switch (element.val) {
            case "5":
              cpt5++;
              break;
            case "4":
              cpt4++;
              break;
            case "3":
              cpt3++;
              break;
          }

        });

        // console.log(cpt3)
        // console.log(cpt4)
        // console.log(cpt5)
        if ((cpt3 != 1) || (cpt4 != 3) || (cpt5 != 1)) {
          this.$.toastVal.open();
          this.valider = true;
        }
        else {
          this.valider = false;
          this.page = "view3"
        }

      }

      selectInfo(e) {
        this.info = e.target.id;
      }

      navPrev() {
        this.$.infoAttr.selectPrevious();
      }

      navNext() {
        this.$.infoAttr.selectNext();
      }

      attributsChanged() {
        // console.log(this.attributs)
        // console.log(this.attributs.filter(function( obj ) {return obj.name == "Addresse"}))
      }

      pageChanged(){
        console.log(this.page)
      }

    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>