<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-button-group/paper-button-group.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/polymer-popover/polymer-popover.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view5">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      }

      /* :host {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        overflow-y: auto;
        padding: 5px;
        --app-primary-color: #6C0277;
        --app-secondary-color: black;
      } */

      paper-card.metier {
        height: 100%;
        width: 100%;
        margin: 10px;
      }

      paper-button.metier {
        text-align: center;
        margin: 3px;
        margin-bottom: 5%;
        min-width: 150px;
        width: 23%;
      }

      paper-button.iron-selected {
        background-color: var(--app-primary-color);
        color: white;
      }
    </style>


    <div id="view5" class="card">


      <div class="horizontal center">

        <paper-card class="half" style="min-width: 60%; min-height:660px">
          <div id="metier" class="card-header">
            <label>Héritage</label>
          </div>

          <div class="card-content horizontal center">
            <paper-card class="metier" elevation="0">

              <paper-button-group id="metier" selected="{{metier}}" attr-for-selected="name" fallback-selection="Commun" on-tap="metierModifier">
                <template is="dom-repeat" items="{{metierliste}}">
                  <paper-button class="metier" name="{{item.name}}" on-tap="selectInfo" raised elevation="2">[[item.name]]</paper-button>
                </template>
              </paper-button-group>
            </paper-card>
          </div>

          <div class="card-actions horizontal justified">
            <paper-button on-tap="validation" raised class="val">Valider</paper-button>
          </div>
        </paper-card>

        <paper-card class="half" style="min-width: 38%; min-height:660px">
          <div class="card-header-lg">[[info]]</div>

          <div class="card-content-lg">

            <iron-pages id="infoAttr" selected="{{info}}" attr-for-selected="name" fallback-selection="[[metier]]" >
              <template is="dom-repeat" items="{{metierliste}}">
                <paper-card name="{{item.name}}" elevation="0" class="info">[[item.info]]<br><h1>Capacité Spéciale</h1><br>[[item.cap]]</paper-card>
              </template>
            </iron-pages>

          </div>

          <div class="card-actions horizontal justified center">
            <paper-icon-button on-tap="navPrev" icon="chevron-left" class="lg" style="margin-right:50%"></paper-icon-button>
            <paper-icon-button on-tap="navNext" icon="chevron-right" class="lg"></paper-icon-button>
          </div>
        </paper-card>
      </div>

    </div>

    <paper-toast id="toastVal" text="This aint right nigga" class="attr"></paper-toast>


  </template>

  <script>
    class MyView5 extends Polymer.Element {
      static get is() { return 'my-view5'; }
      static get properties() {
        return {

          valider: {
            type: Boolean,
            notify: true,
          },

          metier: {
            type: String,
            notify: true,
            value: ""
          },

          metierliste: {
            type: Array,
            notify: true,
            value: []
          },

          competences:{
            type: Array,
            notify: true,
            value: []
          },

          info: {
            type: String,
            notify: true,
          }
        };

      }

      static get observers() {
        return [
          // '_attributsChanged(addresse, puissance, clairvoyance, presence, trempe)',
        ];
      }

      validation() {
        switch (this.metier) {
          case "Artisan":
            break;
          case "Artiste":
            break;
          case "Assassin":
          // console.log(this.competences[4].allow)
            this.competences[4].allow=true;
          // console.log(this.competences[4].allow)
            break;
          case "Capitaine":
            break;
          case "Chasseur de Primes":
            break;
          case "Courtisan":
            break;
          case "Dresseur":
            break;
          case "Ecclésiaste":
            break;
          case "Eclaireur":
            break;
          case "Erudit":
            break;
          case "Esclave en Fuite":
            break;
          case "Marchand":
            break;
          case "Marin":
            break;
          case "Racaille":
            break;
          case "Spadassin":
            break;
          case "Sorcier":
            break;
          case "Soldat de Fortune":
            break;
        }
        this.valider = false;

      }

      selectInfo(e) {
        // console.log(e)        
        // console.log(e.target)        
        // console.log(e.target.name)   
        this.metier = e.target.name;
        this.info = e.target.name;
      }

      navPrev() {
        this.$.infoAttr.selectPrevious();
      }

      navNext() {
        this.$.infoAttr.selectNext();
      }

    }

    window.customElements.define(MyView5.is, MyView5);
  </script>
</dom-module>