<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style include="iron-flex">
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        width: 95%;
      }

      .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .flex-container-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      .center {
        text-align: center;
      }

      .centered {
        margin: auto;
      }

      .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
      }

      .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
      }

      .bottom-left {
        position: absolute;
        /* bottom: 8px; */
        left: 16px;
      }

      .bottom-right {
        position: absolute;
        /* bottom: 8px; */
        right: 16px;
      }

      .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: lightgrey;
      }

      l1 {
        margin: 16px 0;
        color: #212121;
        font-size: 14px;
      }

      h1 {
        padding: 16px;
        font-size: 24px;
        font-weight: 400;
        color: var(--paper-card-header-color, #000);
      }

      h2 {
        margin: 16px 0;
        margin-top: 5px;
        color: #212121;
        font-size: 20px;
      }

      .card-header {
        padding: 16px;
        font-size: 24px;
        font-weight: 400;
        color: var(--paper-card-header-color, #000);
      }

      .card-header-lg {
        min-height: 70px;
        padding: 16px;
        font-size: 24px;
        font-weight: 400;
        color: var(--paper-card-header-color, #000);
      }

      .card-content-lg {
        min-height: 350px;
      }

      .card-actions-m {
        height: 20%;
        bottom: 0px;
        border-top: 1px solid #e8e8e8;
        padding: 5px 16px;
        position: relative;
      }

      .point{
        float: right;
        margin-right: 20%;
        vertical-align: top;
       
      }
      paper-card {
        text-align: initial;
      }

      paper-card.half {
        margin: 5px;
        min-height: 500px;
        min-width: 47%;
        max-width: 600px;
        vertical-align: top;
      }

      paper-card.info {
        height: 100%;
        width: 90%;
        margin: 10px;
        margin-left: 5%;
        margin-right: 5%;
      }

      paper-icon-button.lg {
        border-radius: 3px;
        margin: 3px;
        padding: 2px;
        height: 50px;
        width: 50px;
      }

      paper-radio-group.attr {
        display: inline-block;
        --paper-radio-button-checked-color: #6C0277;
        --paper-radio-button-checked-ink-color: #6C0277;

      }

      paper-toast.attr {
        margin-left: 80%;

      }

      paper-button.val {
        color: white;
        background-color: #00E640;
        height: 50px;
        margin: 3px;
      }

      paper-button.val:hover {
        background-color: chartreuse;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      paper-icon-button.add {
        color:#00E640;
        /* background-color: green; */
        border-radius: 100%;
        margin:10px;
      }

      paper-icon-button.add:hover {
        color: chartreuse;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      label,
      input {
        width: 40%;
        cursor: pointer;
        display: inline-block;

      }

      paper-dialog.attribut {
        border: 2px solid;
        border-color: #6C0277;
        position: fixed;
        top: 100px;
        left: 620px;
        overflow: auto;
      }

      paper-input.custom-input {
        /* --paper-input-container-color: #757575 */
        --paper-input-container-focus-color: #6C0277;
        --paper-input-container-invalid-color: red;
        --paper-input-container-input-color: black;
      }

      iron-icon.validation{
        color: #00E640;
        margin: 3px;
        padding: 2px;
        height: 30px;
        width: 30px;
      }

    </style>
  </template>
</dom-module>